<!DOCTYPE html>
<html>
    <head>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
        <meta name="viewport" content="width=device-width, user-scalable=no, maximum-scale=1">
        <title>UNIST 봄축제</title>
        
        <%= csrf_meta_tags %>

        <meta charset = 'utf-8'>
        <script
            src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous">
        </script>
        <%= stylesheet_link_tag "team1style.css" %>
        <%= javascript_include_tag "team1js.js" %>
        <!--<script type="text/javascript" src="javascript.js"></script>-->
        
        <!-- Countdown Timer -->
    </head>
        
    <body>
    <!--<div class= "all">-->
        
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top" style="background-color:pink" id="nav" >
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
              <a class="navbar-brand" href="#" >Home</a>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav" >
                    <li class="nav-item" id="li1">
                    <a class="nav-link" href="#" >DayBooth</a>
                    </li>
                    <li class="nav-item" id="li2">
                    <a class="nav-link" href="#">Exhibition</a>
                  </li>
                  <li class="nav-item" id="li3">
                    <a class="nav-link" href="#">FoodTruck</a>
                  </li>
                  <li class="nav-item" id="li4">
                    <a class="nav-link" href="#">Performance</a>
                  </li>
                  <li class="nav-item" id="li5">
                    <a class="nav-link" href="#">NightBooth</a>
                  </li>
                  <li class="nav-item" id="li6">
                    <a class="nav-link" href="#">Event</a>
                  </li>
                </ul>
              </div>
        </nav>
        
        
        <!--<nav class = "guide">-->
        <!--    <ul class="ul1">-->
        <!--         <li id="li0" class="over-color">Home</li>-->
        <!--    </ul>-->
        <!--    <ul class="ul2">-->
        <!--        <li id="li1" class="over-color">주간부스</li>-->
        <!--        <li id="li2" class="over-color">전시회</li>-->
        <!--        <li id="li3" class="over-color">푸드트럭</li>-->
        <!--        <li id="li4" class="over-color">공연</li>-->
        <!--        <li id="li5" class="over-color">야간부스</li>-->
        <!--        <li id="li6" class="over-color">이벤트</li>-->
        <!--    </ul>-->
        <!--</nav>-->

        <div class="bgimage" id="test" style="background-image: url('<%=image_path("team1/img/main.png")%>');"> 
            <div class="first"> 
                <p id="start">　</p>
            </div>
        </div>
        
        <!-- 2번째 메인화면-->
        <div class="empty_space0"></div>
        <section class="Container">
            <section class="container1">
                <article class="picture" id="picture1">
                    <img class="bb" src="<%=image_path("team1/img/main/5.svg")%>" >
                    <p>주간부스</p> 
                </article>
                <article class="picture" id="picture2">
                    <img class="bb" src="<%=image_path("team1/img/main/3.svg")%>"/>
                    <p>전시회</p>
                </article>
                <article class="picture" id="picture3">
                    <img class="bb" src="<%=image_path("team1/img/main/2.svg")%>"/>
                    <p>푸드 트럭</p>
                </article>
            </section>
            <section class="container2">
                <article class="picture" id="picture6">
                    <img class="bb" src="<%=image_path("team1/img/main/6.svg")%>"/>
                    <p> 공연</p>
                </article>
                <article class="picture" id="picture4">
                    <img class="bb" src="<%=image_path("team1/img/main/4.svg")%>"/>
                    <p>야간부스</p>
                </article>
                <article class="picture" id="picture5">
                    <img class="bb" src="<%=image_path("team1/img/main/1.svg")%>"/>
                    <p>이벤트</p>
                </article>
            </section>
        </section>
        
        <!--1번 사진 해당 내용-->
        <div class="empty_space1"></div>
        <div class = "detail" id ="detail_1">
            <div class ="detail1_a">
                
                <div class="morning_booth" id="dt1_seat1">
                    <a class="click" href="#open0">
                        <img class="ya" src="<%=image_path("team1/img/number_1-4.png")%>"/>
                    </a>
                </div>
            
                <div class="morning_booth" id="dt1_seat2">
                    <a class="click" href="#open1">
                        <img class="ya" src="<%=image_path("team1/img/number_5-8.png")%>"/>
                    </a>
                </div>
                
                <div class="morning_booth" id="dt1_seat3">
                    <a class="click" href="#open2">
                        <img class="ya" src="<%=image_path("team1/img/number_9-11.png")%>"/>
                    </a>
                </div>
                
            </div>
            
            <img id ="morningbooth" src="<%=image_path("team1/img/morning_background.png")%>"/>
            
            <div class ="detail1_b">
                <div class="morning_booth" id="dt1_seat4">
                    <a class="click" href="#open3">
                        <img class="ya" src="<%=image_path("team1/img/nmber_12-15.png")%>"/>
                    </a>
                </div>
                <div class="morning_booth" id="dt1_seat5">
                    <a class="click" href="#open4">
                        <img class="ya" src="<%=image_path("team1/img/nmber_16-19.png")%>"/>
                    </a>
                </div>
            </div>
        </div>
        
        <!--2번 사진 해당 내용-->
        <div class="empty_space6"></div>
        <div class = "detail" id ="detail_2" style="background-image: url('<%=image_path("team1/img/gym.png")%>');">
                
            <div class ="detail2_a">
                <div class="gym" id="dt2_seat1">
                    <img class="club" src="<%=image_path("team1/img/hexa.png")%>"/>
                
                </div>
                <div class="gym" id="dt2_seat2">
                   <img class="club" src="<%=image_path("team1/img/graphos.png")%>"/>
                </div>
                </div>
                <div class ="detail2_b">
                <div class="gym" id="dt2_seat3">
                    <img class="club" src="<%=image_path("team1/img/su.png")%>"/>
                </div>
                </div>
            <div class ="detail2_c">
                <div class="gym" id="dt2_seat4">
                   <img class="club" src="<%=image_path("team1/img/ivf.png")%>"/>
                </div>
                <div class="gym" id="dt2_seat5">
                    <img class="club" src="<%=image_path("team1/img/joker.png")%>"/>
                </div>
            </div>
        </div>
        
        <!--3번 사진 해당 내용-->
        <div class="empty_space2"></div>
        <div class = "detail" id ="detail_3">
            <div class=detail3_a>
                <div class="food_truck" id="dt3_seat1">
                    <img class="truck" src="<%=image_path("team1/img/foodtruck-1.svg")%>">
                    <div class="trucks"> Hotdog </div>
                </div>
                
                <div class="food_truck" id="dt3_seat2">
                    <img class="truck" src="<%=image_path("team1/img/foodtruck-2.svg")%>">
                    <div class="trucks"> Churros </div>
                </div>
            </div>
            <div class="detail3_b">
                <div class="food_truck" id="dt3_seat3">
                    <img class="truck" src="<%=image_path("team1/img/foodtruck-3.svg")%>">
                    <div class="trucks"> Grilled chicken </div>
                </div>
                <div class="food_truck" id="dt3_seat4">
                    <img class="truck" src="<%=image_path("team1/img/foodtruck-4.svg")%>">
                    <div class="trucks"> Cube steak </div>
                </div>
            </div>
        </div>
        
        <!--4번 사진 해당 내용-->
        <div class="empty_space3"></div>
        <div id="detail_4">
            <img id="dt4_seat2" src="<%=image_path("team1/img/ufestival 2.jpg")%>">
        
            <!-- 산이 비디오 -->
            <div class="video">
                <video src="<%=video_path("san-e.mp4")%>" controls="controls"
                       height:"auto" width="60%">
                </video>
            </div>
        </div>
        
        <!--5번 사진 해당 내용-->
        <div class="empty_space5"></div>
        <div class = "detail" id ="detail_5">
            <div class = "detail5_a">
            <div class="night_booth" id="dt5_seat1">
                <a class="click" href="#open5">
                    <img class="nightt" src="<%=image_path("team1/img/n-12.png")%>"/>
                </a>
            
            </div>
            <div class="night_booth" id="dt5_seat2">
                <a class="click" href="#open6">
                    <img class="nightt" src="<%=image_path("team1/img/n9.png")%>"/>
                </a>
            
            </div>
            </div>
        
            <img id ="nightbooth" src="<%=image_path("team1/img/nightbooth.jpg")%>"/>
            
            <div class = "detail5_b">
            <div class="night_booth" id="dt5_seat3">
                <a class="click" href="#open7">
                    <img class="nightt" src="<%=image_path("team1/img/n6.png")%>"/>
                </a>
            </div>
            <div class="night_booth" id="dt5_seat4">
                <a class="click" href="#open8">
                        <img class="nightt" src="<%=image_path("team1/img/n3.png")%>"/>
                </a>
            </div>
            </div>
        
        </div>
        <!--6번 사진 해당내용-->
        <div class="empty_space4"></div>
        <div id ="detail_6">
            <div class="detail6_a">
                <div id="dt6_seat1">
                    <img src="<%=image_path("team1/img/event.png")%>" id="dt6_img" style="width: 100%"/>
                </div>
            </div>
        </div>
                


        <!--주간 부스 모달창-->
        <div class="white_content" id="open0">
            <div class="white_content_style">
                <a class="close" href="#close">X</a>
                <article class="booth_picture"><img src="<%=image_path("team1/img/booth img/Day-Booth1.png")%>"></br></br></br></article>
                <article class="booth_picture"><img src="<%=image_path("team1/img/booth img/Day-Booth2.png")%>"></br></br></br></article>
                <article class="booth_picture"><img src="<%=image_path("team1/img/booth img/Day-Booth3.png")%>"></article>
            </div>
        </div>

        <div class="white_content" id="open1">
            <div class="white_content_style">
                <a class="close" href="#close">X</a>
                <article class="booth_picture"><img class="me" src="<%=image_path("team1/img/booth img/Day-Booth1.png")%>"></br></br></br></article>
                <article class="booth_picture"><img class="me" src="<%=image_path("team1/img/booth img/Day-Booth2.png")%>"></br></br></br></article>
                <article class="booth_picture"><img class="me" src="<%=image_path("team1/img/booth img/Day-Booth3.png")%>"></article>
            </div>
        </div>
        
        <div class="white_content" id="open2">
            <div class="white_content_style">
                <a class="close" href="#close">X</a>
                <article class="booth_picture"><img class="me" src="<%=image_path("team1/img/booth img/Day-Booth1.png")%>"></br></br></br></article>
                <article class="booth_picture"><img class="me" src="<%=image_path("team1/img/booth img/Day-Booth2.png")%>"></br></br></br></article>
                <article class="booth_picture"><img class="me" src="<%=image_path("team1/img/booth img/Day-Booth3.png")%>"></article>
            </div>
        </div>
        
        <div class="white_content" id="open3">
            <div class="white_content_style">
                <a class="close" href="#close">X</a>
                <article class="booth_picture"><img class="me" src="<%=image_path("team1/img/booth img/Day-Booth1.png")%>"></br></br></br></article>
                <article class="booth_picture"><img class="me" src="<%=image_path("team1/img/booth img/Day-Booth2.png")%>"></br></br></br></article>
                <article class="booth_picture"><img class="me" src="<%=image_path("team1/img/booth img/Day-Booth3.png")%>"></article>
            </div>
        </div>
        <div class="white_content" id="open4">
            <div class="white_content_style">
                <a class="close" href="#close">X</a>
                <article class="booth_picture"><img class="me"  src="<%=image_path("team1/img/booth img/Day-Booth1.png")%>"></br></br></br></article>
                <article class="booth_picture"><img class="me" src="<%=image_path("team1/img/booth img/Day-Booth2.png")%>"></br></br></br></article>
                <article class="booth_picture"><img class="me" src="<%=image_path("team1/img/booth img/Day-Booth3.png")%>"></article>
            </div>
        </div>
        
        
        <!--야간 부스 모달창-->
        <div class="white_content" id="open5">
            <div class="white_content_style">
                <a class="close" href="#close">X</a>
                <article class="booth_picture"><img class="me"  src="<%=image_path("team1/img/booth img/Night-Booth1.png")%>"></br></br></br></article>
                <article class="booth_picture"><img class="me"  src="<%=image_path("team1/img/booth img/Night-Booth2.png")%>"></br></br></br></article>
                <article class="booth_picture"><img class="me"  src="<%=image_path("team1/img/booth img/Night-Booth3.png")%>"></article>
            </div>
        </div>
        
        <div class="white_content" id="open6">
            <div class="white_content_style">
                <a class="close" href="#close">X</a>
                <article class="booth_picture"><img class="me" src="<%=image_path("team1/img/booth img/Night-Booth1.png")%>"></br></br></br></article>
                <article class="booth_picture"><img class="me" src="<%=image_path("team1/img/booth img/Night-Booth2.png")%>"></br></br></br></article>
                <article class="booth_picture"><img class="me" src="<%=image_path("team1/img/booth img/Night-Booth3.png")%>"></article>
            </div>
        </div>
        
        
        <div class="white_content" id="open7">
            <div class="white_content_style">
                <a class="close" href="#close">X</a>
                <article class="booth_picture"><img class="me" src="<%=image_path("team1/img/booth img/Night-Booth1.png")%>"></br></br></br></article>
                <article class="booth_picture"><img class="me" src="<%=image_path("team1/img/booth img/Night-Booth2.png")%>"></br></br></br></article>
                <article class="booth_picture"><img class="me" src="<%=image_path("team1/img/booth img/Night-Booth3.png")%>"></article>
            </div>
        </div>
        
       <div class="white_content" id="open8">
            <div class="white_content_style">
                <a class="close" href="#close">X</a>
                <article class="booth_picture"><img class="me" src="<%=image_path("team1/img/booth img/Night-Booth1.png")%>"></br></br></br></article>
                <article class="booth_picture"><img class="me" src="<%=image_path("team1/img/booth img/Night-Booth2.png")%>"></br></br></br></article>
                <article class="booth_picture"><img class="me" src="<%=image_path("team1/img/booth img/Night-Booth3.png")%>"></article>
            </div>
        </div>

        
        <!--Progress Bar-->
        <!-- Display the countdown timer in an element -->
        <div id="Countdown">
            <p id="Count-Display"></p>
        </div>

        <!--하단 내용 / 스폰서-->
        <div class="footer">
            <img class="sound" src="<%=image_path("team1/img/sound3.png")%>" style="width:100px" align="right"/>
            <img class="uni_lion" src="<%=image_path("team1/img/uni_lion2.png")%>" style="width:100px" align="right"/>
            <div class="content " style="text-align:left">
                <p >멋쟁이 사자처럼 x SOUND</p>
                <p>멋쟁이 사자처럼 페이스북: <a href="https://www.facebook.com/likelion.UNIST/?fref=ts">바로가기</a></p>
                <p>총학 페이스북: <a href="https://www.facebook.com/UNISTStudentUnionSOUND/?fref=ts">바로가기</a></p>
            </div>
        </div>

        <!--위로 가기 버튼-->
        <div class="gotop">
            <img src="<%=image_path("team1/img/up-arrow.png")%>" width="50px" height="50px">
        </div>
        
        <!--Boot strap 관련-->
        <!--<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <!--</div>-->
        
        <!-- Countdown Timer -->
    </body>
    
    
</html>